
.main-content

    #jump-to-nav.show-on-tablet
        %a.btn.btn-neutral.full-bleed{:href => "#subnav"} Browse this Section

    %header.content-header
        %h2 Our Session and Diaconate
        %hr/

    %article.content-article
        %h3 Teaching Elders

        %ul
            %li Brent Baker
            %li Mark Davis
            %li Pete Deison
            %li Paul Goebel
            %li Bill Lamberth
            %li Tommy Overton
            %li Julian Russell
            %li Skip Ryan
            %li Chad Scruggs
            %li Jeff White
            %li Ron Williams

        %hr/
        %h3 Session

        %ul
            %li Tommy Bain
            %li Alan Balser
            %li Frank Bullock
            %li Mark Davis
            %li Pete Deison
            %li Jack Denman
            %li Will Francis
            %li Pat Hamner
            %li Ed Jarrett
            %li Jim Madden
            %li Bob McCamey
            %li David Newman
            %li Mike Skinner
            %li Dan Stewart
            %li Jay Turner
            %li Jeff Wilson
            %li Tim Wilson
            %li Randy Wood

