
%article.content-article
    .media-obj
        .media-content

            %h3 Visiting
            %p.date June 05, 2015
            %p
                %span
                    Welcome to Park Cities Presbyterian Church.
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game! VBS Training Camp (birth to age four) is provided for volunteers’ children.

                %a.read-more{:href => "#"}
                    More
                    %span
                        ›
        .media-image
            %img{:src => "http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png", :alt => ""}/

    .media-obj
        .media-content

            %h3 Visiting
            %p.date June 05, 2015
            %p
                %span
                    Welcome to Park Cities Presbyterian Church.
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game! VBS Training Camp (birth to age four) is provided for volunteers’ children.
                %a.read-more{:href => "#"}
                    More
                    %span
                        ›
            %p.media-detail
                Date or details about this post


        .media-image
            %img{:src => "http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png", :alt => ""}/

    .media-obj
        .media-content

            %h3 Visiting
            %p.date June 05, 2015
            %p
                %span
                    Welcome to Park Cities Presbyterian Church.
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game! VBS Training Camp (birth to age four) is provided for volunteers’ children.

                %a.read-more{:href => "#"}
                    More
                    %span
                        ›
        .media-image
            %img{:src => "http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png", :alt => ""}/

