/ # Home Slider
.slider-bounds
    .content-row

        #homeSlider.royalSlider.rsDefaultInv
            .rsContent
                %a.rsImg{:href => "http://placehold.it/1450x540"}
                %span.rsTmb
                    %img{:src => "http://placehold.it/540x350", :alt => ""}/
                .slideContentWrap.rsABlock
                    %h2
                        Welcome to Park Cities
                        %br/
                        Presbyterian Church
                    %hr/
                    %a.btn.btn-secondary{:href => "#"} New Here?
                    %a.btn.btn-secondary{:href => "#"} Directions &amp; Parking

            .rsContent
                %a.rsImg{:href => "http://placehold.it/1450x540"}
                %span.rsTmb
                    %img{:src => "http://placehold.it/540x350", :alt => ""}/
                .rsABlock.rsFirstSlideTitle.rsSlideTitle
                    %h2 Headers with Transitions
                .rsABlock.rsSecondSlideTitle.rsSlideTitle{:'data-delay'=>'350'}
                    %h5
                        These are optional headers—a great way to add
                        %br/
                        a bit of complexity to simple images

            .rsContent
                %a.rsImg{:href => "http://placehold.it/1450x540"}
                %span.rsTmb
                    %img{:src => "http://placehold.it/540x350", :alt => ""}/
                .rsABlock.rsFirstSlideTitle.rsSlideTitle
                    %h2 Another, single Header with Transition
            .rsContent
                %a.rsImg{:href => "http://placehold.it/1450x540"}
                %span.rsTmb
                    %img{:src => "http://placehold.it/540x350", :alt => ""}/

/ # /END of Home Slider