%nav.sub#subnav
    %ul.border-b
        %li.title
            %h6
                Who We Are
        %li
            %a{:href => "/assets/html/index.html"} Our Theological Identity
        %li
            %a{:href => "/assets/html/article-video.html"} Our History
        %li
            %a{:href => "#"} Stories of Rescue

        %li.title
            %h6
                Our Campus
        %li
            %a{:href => "/assets/html/article-map"} New to PCPC
        %li
            %a{:href => "/assets/html/article-list"} Our Session and Diaconate
        %li
            %a{:href => "#"} Item
        %li
            %a{:href => "#"} Item
        %li.title
            %h6
                Title
        %li
            %a{:href => "#"} Item
        %li
            %a{:href => "#"} Item
        %li
            %a{:href => "#"} Item
        %li
            %a{:href => "#"} Item