
%article.content-article
    %ul.striped
        %li.media-obj-small
            .media-image
                %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

            .media-content
                %a.color-text.normal{:href => "#"}
                    %h6 When Have We Loved One Another Enough?
                    %span.meta
                        %span.strong Series:
                        1 & 2 Thessalonians
                    %span.meta.strong
                        1 Thessalonians 4:9-12
                    %span.meta.strong Mark Davis
                    %p.date May 18, 2014
        %li.media-obj-small
            .media-image
                %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

            .media-content
                %a.color-text.normal{:href => "#"}
                    %h6 When Have We Loved One Another Enough?
                    %span.meta
                        %span.strong Series:
                        1 & 2 Thessalonians
                    %span.meta.strong
                        1 Thessalonians 4:9-12
                    %span.meta.strong Mark Davis
                    %p.date May 18, 2014
        %li.media-obj-small
            .media-image
                %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

            .media-content
                %a.color-text.normal{:href => "#"}
                    %h6 When Have We Loved One Another Enough?
                    %span.meta
                        %span.strong Series:
                        1 & 2 Thessalonians
                    %span.meta.strong
                        1 Thessalonians 4:9-12
                    %span.meta.strong Mark Davis
                    %p.date May 18, 2014
        %li.media-obj-small
            .media-image
                %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

            .media-content
                %a.color-text.normal{:href => "#"}
                    %h6 When Have We Loved One Another Enough?
                    %span.meta
                        %span.strong Series:
                        1 & 2 Thessalonians
                    %span.meta.strong
                        1 Thessalonians 4:9-12
                    %span.meta.strong Mark Davis
                    %p.date May 18, 2014

