/ # Mobile Nav
.js-mobile-menu-wrap
    #js-mobile-menu
        %span.menu-prompt
            menu
        .menu.icon{:href => "#", :'data-icon'=>'i'}
    %nav.mobile-site-nav
        %ul#navigation-menu
            %li
                %a{:href => "#"} About PCPC
            %li
                %a{:href => "#"} Worship
            %li
                %a{:href => "#"} Grow
            %li
                %a{:href => "#"} Serve
            %li
                %a{:href => "#"} Missions
            %li
                %a{:href => "#"} Care
            %li
                %a{:href => "#"} Resources
            %li
                %a{:href => "#"} News/Events
            %li
                .search-and-submit
                    %input{:type => "search", :placeholder => "Search"}/
                    %button.btn.icon{:type => "submit", :'data-icon'=>'t'}

/ # /END of Mobile Nav