/ # Site Header and Logo
%header#site-header{:role => "banner"}
    .left
        %h1.logo
            %a{:href => "#"}
                %span Name
        %dl.service-times
            %dt Sunday Service Times
            %dd 8:00 am - Communion Service
            %dd 9:30 am / 11:00 am

    .right.aside-menu
        %a{:href => "#"} Live Stream /
        %a{:href => "#"} Give
        %a.js-search-trigger.search.ico{:href => "#", :'data-icon'=>'t'}
/ # /END of Site Header and Logo    