/ # Main Navigation
%nav#main-navigation{:role => "navigation"}
    %ol.navigation-list
        %li.nav-item
            %a{:href => "#"} About PCPC
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} Worship
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item


                        %h4.title
                            %a{:href => "#"}
                                Our Campus
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item

                        %h4.title
                            %a{:href => "#"}
                                Services
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item


                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Our Leadership and Staff
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item

                            %hr/

                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item


        %li.nav-item
            %a{:href => "#"} Grow
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} Serve
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} Missions
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} Care
            %span.mark
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} Resources
            %span.mark
            %ol
                %li.nav-sub-item.latest-sermon-wrap
                    %header
                        %h4.title
                            %span
                                Latest Sermon
                        %h3 When Have We Loved One Another Enough?
                    .media-obj-small
                        .media-image
                            %img.profile-img{:src => "https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg", :alt => ""}/

                        .media-content
                            %a.color-text.normal{:href => "#"}

                                %h4 Mark Davis
                                %p.date May 18, 2014
                                %span.meta
                                    %span.strong from the series:
                                    On Prayer
                                %span.meta.strong
                                    1 Thessalonians 4:9-12

                    .buttons-wrap
                        %a.btn.media-btn.listen{:href => "#"} Listen Now
                        %a.btn.media-btn.download{:href => "#"} Download MP3

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item
        %li.nav-item
            %a{:href => "#"} News/Events
            %ol
                %li.nav-sub-item
                    %header
                        %h4 Description
                    %p
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!

                %li.nav-sub-item
                    .col-six
                        %h4.title
                            %a{:href => "#"}
                                Who We Are
                        %ol
                            %li
                                %a{:href => "#"} Link Item
                            %li
                                %a{:href => "#"} Link Item

/ # /END of Main Navigation