/ # JS Search
.js-search-wrap.hide-on-tablet
    .js-search.search-and-submit
        .inner-search
            %p.meta Search for topics, scriptures, or keywords…
            %form.content-row{:action => ""}
                %input{:type => "search", :placeholder => "Search"}/
                %button.ico-search{:type => "submit"}
#js-search-overlay
/ # /END of JS Search