<div class="main-content">
    <div class="show-on-tablet" id="jump-to-nav">
        <a class="btn btn-neutral full-bleed" href="#subnav">Browse this Section</a>
    </div>
    <header class="content-header">
        <h2>When the Lord Himself Descends</h2>
        <p class="lead">from the series 1 & 2 Thessalonians</p>
    </header>
    <div class="content-row padding-t" id="audio">
        <audio class="progression-single progression-skin progression-audio-player" controls="controls" preload="none">
            <source src="../audio/06 Slow It Down.mp3" type="audio/mp3" />
            <source src="../audio/06 Slow It Down.ogg" type="audio/ogg" />
            <!-- / Flash Fallback -->
            <object data="flashmediaelement.swf" type="application/x-shockwave-flash">
                <param name="movie" value="../js/min/flashmediaelement.swf" />
                <param name="flashvars" value="controls=true&amp;file=../audio/your-filename.mp3" />
            </object>
        </audio>
        <a class="btn right media-btn download" href="#">Download MP3</a>
    </div>
    <br />
    <br />
    <article class="content-article">
        <ul class="accordion-tabs-minimal">
            <li class="tab-header-and-content">
                <a class="tab-link" href="#">Detail</a>
                <div class="tab-content">
                    <h4>When Have We Loved One Another Enough?</h4>
                    <h6>1 Thessalonians 4:9-12</h6>
                    <h6>Mark Davis</h6>
                    <p class="date">May 18, 2014</p>
                </div>
            </li>
            <li class="tab-header-and-content">
                <a class="tab-link" href="#">Scripture</a>
                <div class="tab-content">
                    <h4>1 Thessalonians 4:13-18</h4>
                    <h5>The Coming of the Lord</h5>
                    <p>
                        <span class="verse-num">
                            14
                        </span>
                        For this reason I bow my knees before the Father,
                        <span class="verse-num">
                            15
                        </span>
                        from whom every familyOr fatherhood; the Greek word patria is closely related to the word for
                        Father in heaven and on earth is named,
                        <span class="verse-num">
                            16
                        </span>
                        that according to the riches of his glory he may grant you to be strengthened with power
                        through his Spirit in your inner being…
                    </p>
                    <cite>
                        The Holy Bible, English Standard Version copyright (c)2001 by Crossway Bibles, a division of
                        Good News Publishers. Used by permission. All rights reserved. http://www.esv.org
                    </cite>
                </div>
            </li>
        </ul>
    </article>
</div>