<div class="main-content">
    <div class="show-on-tablet" id="jump-to-nav">
        <a class="btn btn-neutral full-bleed" href="#subnav">Browse this Section</a>
    </div>
    <header class="content-header">
        <h2>Our Session and Diaconate</h2>
        <hr />
    </header>
    <article class="content-article">
        <h3>Teaching Elders</h3>
        <ul>
            <li>Brent Baker</li>
            <li>Mark Davis</li>
            <li>Pete Deison</li>
            <li>Paul Goebel</li>
            <li>Bill Lamberth</li>
            <li>Tommy Overton</li>
            <li>Julian Russell</li>
            <li>Skip Ryan</li>
            <li>Chad Scruggs</li>
            <li>Jeff White</li>
            <li>Ron Williams</li>
        </ul>
        <hr />
        <h3>Session</h3>
        <ul>
            <li>Tommy Bain</li>
            <li>Alan Balser</li>
            <li>Frank Bullock</li>
            <li>Mark Davis</li>
            <li>Pete Deison</li>
            <li>Jack Denman</li>
            <li>Will Francis</li>
            <li>Pat Hamner</li>
            <li>Ed Jarrett</li>
            <li>Jim Madden</li>
            <li>Bob McCamey</li>
            <li>David Newman</li>
            <li>Mike Skinner</li>
            <li>Dan Stewart</li>
            <li>Jay Turner</li>
            <li>Jeff Wilson</li>
            <li>Tim Wilson</li>
            <li>Randy Wood</li>
        </ul>
    </article>
</div>