<article class="content-article">
    <div class="media-obj">
        <div class="media-image">
            <img alt="" src="http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png" />
        </div>
        <div class="media-content">
            <h3>Visiting</h3>
            <p class="date">June 05, 2015</p>
            <p>
                <span>
                    Welcome to Park Cities Presbyterian Church.
                </span>
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s
                Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game!
                VBS Training Camp (birth to age four) is provided for volunteers’ children.
                <a class="read-more" href="#">
                    More
                    <span>
                        ›
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="media-obj">
        <div class="media-image">
            <img alt="" src="http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png" />
        </div>
        <div class="media-content">
            <h3>Visiting</h3>
            <p class="date">June 05, 2015</p>
            <p>
                <span>
                    Welcome to Park Cities Presbyterian Church.
                </span>
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s
                Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game!
                VBS Training Camp (birth to age four) is provided for volunteers’ children.
                <a class="read-more" href="#">
                    More
                    <span>
                        ›
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="media-obj">
        <div class="media-image">
            <img alt="" src="http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png" />
        </div>
        <div class="media-content">
            <h3>Visiting</h3>
            <p class="date">June 05, 2015</p>
            <p>
                <span>
                    Welcome to Park Cities Presbyterian Church.
                </span>
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s
                Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game!
                VBS Training Camp (birth to age four) is provided for volunteers’ children.
                <a class="read-more" href="#">
                    More
                    <span>
                        ›
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="media-obj">
        <div class="media-image">
            <img alt="" src="http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png" />
        </div>
        <div class="media-content">
            <h3>Visiting</h3>
            <p class="date">June 05, 2015</p>
            <p>
                <span>
                    Welcome to Park Cities Presbyterian Church.
                </span>
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s
                Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game!
                VBS Training Camp (birth to age four) is provided for volunteers’ children.
                <a class="read-more" href="#">
                    More
                    <span>
                        ›
                    </span>
                </a>
            </p>
        </div>
    </div>
    <div class="media-obj">
        <div class="media-image">
            <img alt="" src="http://pcpc.org/image/2/450/0/5/0/uploads/images/events/banners/young-adult-summer-stories-ban-5374e8420d3ab.png" />
        </div>
        <div class="media-content">
            <h3>Visiting</h3>
            <p class="date">June 05, 2015</p>
            <p>
                <span>
                    Welcome to Park Cities Presbyterian Church.
                </span>
                We’re recruiting “players” (age five by September 1, 2014, through rising fourth graders) for VBS’s
                Home Run Derby. Registration is open. We’re also looking for trainers (aka volunteers) for our game!
                VBS Training Camp (birth to age four) is provided for volunteers’ children.
                <a class="read-more" href="#">
                    More
                    <span>
                        ›
                    </span>
                </a>
            </p>
        </div>
    </div>
</article>