<!-- # Upcoming Sermon -->
<div class="outer-bounds">
    <div class="content-row content-article padding-b" id="sermon-info">
        <hr />
        <div class="content-row">
            <div class="col-three">
                <h2 class="serif">UPCOMING SERMON</h2>
                <p class="date">Sunday, June 29, 2014</p>
            </div>
            <div class="col-six">
                <h4 class="serif">SERIES ON PRAYER</h4>
                <h5>When Have We Loved One Another Enough?</h5>
                <h6>1 Thessalonians 4:9-12</h6>
            </div>
            <div class="col-three">
                <h4 class="serif">PREACHING</h4>
                <h6>Chad Scruggs</h6>
            </div>
        </div>
        <hr />
    </div>
</div>
<!-- # /END of Upcoming Sermon -->