<!-- # Home Slider -->
<div class="slider-bounds">
<div class="content-row">
<div class="royalSlider rsDefaultInv" id="homeSlider">
<div class="rsContent">
<a class="rsImg" href="http://placehold.it/1450x540"></a>
<span class="rsTmb">
<img alt="" src="http://placehold.it/540x350" />
</span>
<div class="slideContentWrap rsABlock">
<h2>
Welcome to Park Cities
<br />
Presbyterian Church
</h2>
<hr />
<a class="btn btn-secondary" href="#">New Here?</a>
<a class="btn btn-secondary" href="#">Directions &amp; Parking</a>
</div>
</div>
<div class="rsContent">
<a class="rsImg" href="http://placehold.it/1450x540"></a>
<span class="rsTmb">
<img alt="" src="http://placehold.it/540x350" />
</span>
<div class="rsABlock rsFirstSlideTitle rsSlideTitle">
<h2>Headers with Transitions</h2>
</div>
<div class="rsABlock rsSecondSlideTitle rsSlideTitle" data-delay="350">
<h5>
These are optional headers—a great way to add
<br />
a bit of complexity to simple images
</h5>
</div>
</div>
<div class="rsContent">
<a class="rsImg" href="http://placehold.it/1450x540"></a>
<span class="rsTmb">
<img alt="" src="http://placehold.it/540x350" />
</span>
<div class="rsABlock rsFirstSlideTitle rsSlideTitle">
<h2>Another, single Header with Transition</h2>
</div>
</div>
<div class="rsContent">
<a class="rsImg" href="http://placehold.it/1450x540"></a>
<span class="rsTmb">
<img alt="" src="http://placehold.it/540x350" />
</span>
</div>
</div>
</div>
</div>
<!-- # /END of Home Slider -->
