<!-- # Site Footer -->
<footer class="footer" id="main-footer" role="contentinfo">
    <div class="outer-bounds">
        <div class="footer-links">
            <ul class="border-b">
                <li>
                    <h3>Quick Links</h3>
                </li>
                <li>
                    <a href="link">Home</a>
                </li>
                <li>
                    <a href="link">About</a>
                </li>
                <li>
                    <a href="link">Worship</a>
                </li>
                <li>
                    <a href="link">Grow</a>
                </li>
                <li>
                    <a href="link">Serve</a>
                </li>
                <li>
                    <a href="link">Missions</a>
                </li>
                <li>
                    <a href="link">Care</a>
                </li>
                <li>
                    <a href="link">Resources</a>
                </li>
                <li>
                    <a href="link">News/Events</a>
                </li>
                <li>
                    <a href="link">Give</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Location & Contact</h3>
                </li>
                <li>
                    <small>
                        <span class="address">4124 Oak Lawn Avenue</span>
                        <br />
                        <span class="city">Dallas, TX 75219</span>
                        <br />
                        <a href="link">Get Directions</a>
                        <br />
                        <span class="phone">P: (214) 224-2500</span>
                        <br />
                        <span class="fax">F: (214) 224-2782</span>
                    </small>
                </li>
                <li>
                    <h3>Office Hours</h3>
                </li>
                <li>
                    <small>
                        <span class="hours">
                            8:30 am to 5:00 pm
                            <br />
                            Monday through Friday
                        </span>
                    </small>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>Sunday Service Times</h3>
                </li>
                <li>
                    <small>
                        <span class="hours">
                            8:00 am - Communion Service
                            <br />
                            9:30 am / 11:00 am
                            <br />
                        </span>
                        <a href="link">Live Video Stream of the services.</a>
                    </small>
                </li>
                <li>
                    <h3>Elsewhere</h3>
                </li>
                <li>
                    <a class="ico facebook" data-icon="x" href="link"></a>
                    <a class="ico twitter" data-icon="v" href="link"></a>
                    <a class="ico vimeo" data-icon="u" href="link"></a>
                    <a class="ico google-plus" data-icon="w" href="link"></a>
                    <br />
                    <small>
                        <strong>More:</strong>
                    </small>
                    <a href="link">Upstream,</a>
                    <a href="link">Issuu,</a>
                    <a href="link">PCPC App</a>
                </li>
            </ul>
            <ul>
                <li>
                    <h3>24/7 Prayer</h3>
                </li>
                <li>
                    <small>
                        How can our pastors pray for you?
                        <br />
                        <span class="email strong">
                            E: 24/7prayer@pcpc.org
                        </span>
                        <br />
                        <span class="phone">P: 214-224-2680</span>
                    </small>
                </li>
                <li>
                    <h3>Recently</h3>
                </li>
                <li>
                    <a href="link">The Word of God in Stained Glass</a>
                </li>
                <li>
                    <a href="link">Trouble Now – Glory Then</a>
                </li>
                <li>
                    <a href="link">Seven devotionals for times of suffering</a>
                </li>
            </ul>
        </div>
        <hr class="fullbleed" />
        <div class="footnotes">
            <h3>Park Cities Presbyterian Church &copy; 2014</h3>
            <small>
                A congregation of
                <a href="link">Presbyterian Church in America</a>
            </small>
            <br />
            <small>
                <a href="link">Staff Access</a>
            </small>
        </div>
    </div>
</footer>
<!-- # END of Site Footer -->