<nav class="sub" id="subnav">
    <ul class="border-b">
        <li class="title">
            <h6>
                Who We Are
            </h6>
        </li>
        <li>
            <a href="/assets/html/index.html">Our Theological Identity</a>
        </li>
        <li>
            <a href="/assets/html/article-video.html">Our History</a>
        </li>
        <li>
            <a href="#">Stories of Rescue</a>
        </li>
        <li class="title">
            <h6>
                Our Campus
            </h6>
        </li>
        <li>
            <a href="/assets/html/article-map">New to PCPC</a>
        </li>
        <li>
            <a href="/assets/html/article-list">Our Session and Diaconate</a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li class="title">
            <h6>
                Title
            </h6>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
        <li>
            <a href="#">Item</a>
        </li>
    </ul>
</nav>