<article class="content-article">
    <ul class="striped">
        <li class="media-obj-small">
            <div class="media-image">
                <img alt="" class="profile-img" src="https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg" />
            </div>
            <div class="media-content">
                <a class="color-text normal" href="#">
                    <h6>When Have We Loved One Another Enough?</h6>
                    <span class="meta">
                        <span class="strong">Series:</span>
                        1 & 2 Thessalonians
                    </span>
                    <span class="meta strong">
                        1 Thessalonians 4:9-12
                    </span>
                    <span class="meta strong">Mark Davis</span>
                    <p class="date">May 18, 2014</p>
                </a>
            </div>
        </li>
        <li class="media-obj-small">
            <div class="media-image">
                <img alt="" class="profile-img" src="https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg" />
            </div>
            <div class="media-content">
                <a class="color-text normal" href="#">
                    <h6>When Have We Loved One Another Enough?</h6>
                    <span class="meta">
                        <span class="strong">Series:</span>
                        1 & 2 Thessalonians
                    </span>
                    <span class="meta strong">
                        1 Thessalonians 4:9-12
                    </span>
                    <span class="meta strong">Mark Davis</span>
                    <p class="date">May 18, 2014</p>
                </a>
            </div>
        </li>
        <li class="media-obj-small">
            <div class="media-image">
                <img alt="" class="profile-img" src="https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg" />
            </div>
            <div class="media-content">
                <a class="color-text normal" href="#">
                    <h6>When Have We Loved One Another Enough?</h6>
                    <span class="meta">
                        <span class="strong">Series:</span>
                        1 & 2 Thessalonians
                    </span>
                    <span class="meta strong">
                        1 Thessalonians 4:9-12
                    </span>
                    <span class="meta strong">Mark Davis</span>
                    <p class="date">May 18, 2014</p>
                </a>
            </div>
        </li>
        <li class="media-obj-small">
            <div class="media-image">
                <img alt="" class="profile-img" src="https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg" />
            </div>
            <div class="media-content">
                <a class="color-text normal" href="#">
                    <h6>When Have We Loved One Another Enough?</h6>
                    <span class="meta">
                        <span class="strong">Series:</span>
                        1 & 2 Thessalonians
                    </span>
                    <span class="meta strong">
                        1 Thessalonians 4:9-12
                    </span>
                    <span class="meta strong">Mark Davis</span>
                    <p class="date">May 18, 2014</p>
                </a>
            </div>
        </li>
    </ul>
</article>