<!-- # Mobile Nav -->
<div class="js-mobile-menu-wrap">
    <div id="js-mobile-menu">
        <span class="menu-prompt">
            menu
        </span>
        <div class="menu icon" data-icon="i" href="#"></div>
    </div>
    <nav class="mobile-site-nav">
        <ul id="navigation-menu">
            <li>
                <a href="#">About PCPC</a>
            </li>
            <li>
                <a href="#">Worship</a>
            </li>
            <li>
                <a href="#">Grow</a>
            </li>
            <li>
                <a href="#">Serve</a>
            </li>
            <li>
                <a href="#">Missions</a>
            </li>
            <li>
                <a href="#">Care</a>
            </li>
            <li>
                <a href="#">Resources</a>
            </li>
            <li>
                <a href="#">News/Events</a>
            </li>
            <li>
                <div class="search-and-submit">
                    <input placeholder="Search" type="search" />
                    <button class="btn icon" data-icon="t" type="submit"></button>
                </div>
            </li>
        </ul>
    </nav>
</div>
<!-- # /END of Mobile Nav -->