<!-- # Site Header and Logo -->
<header id="site-header" role="banner">
    <div class="left">
        <h1 class="logo">
            <a href="#">
                <span>Name</span>
            </a>
        </h1>
        <dl class="service-times">
            <dt>Sunday Service Times</dt>
            <dd>8:00 am - Communion Service</dd>
            <dd>9:30 am / 11:00 am</dd>
        </dl>
    </div>
    <div class="right aside-menu">
        <a href="#">Live Stream /</a>
        <a href="#">Give</a>
        <a class="js-search-trigger search ico" data-icon="t" href="#"></a>
    </div>
</header>
<!-- # /END of Site Header and Logo -->