//[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]
//[if IE 7 ]> <html lang="en" class="no-js ie7"> <![endif]
//[if IE 8 ]> <html lang="en" class="no-js ie8"> <![endif]
//[if IE 9 ]> <html lang="en" class="no-js ie9"> <![endif]
//[if (gt IE 9)|!(IE)]><!
//<![endif]
meta(charset='utf-8', content='text/html', http-equiv='Content-Type')
title Project Name
meta(content='', name='description')
meta(content='', name='keywords')
meta(content='', name='author')
meta(content='width=device-width,initial-scale=1', name='viewport')
link(href='../img/icons/favicon_32x32.png', rel='shortcut icon')
script(src='//use.typekit.net/xrq4srv.js')
script try{Typekit.load();}catch(e){}
link(href='../css/app.css', rel='stylesheet')
script(src='../js/min/modernizr.min.js')
//[if lt IE 9]><link rel="stylesheet" type="text/css" href="../css/ie8.css" /><script src='../js/min/ie.min.js'></script><![endif]
// # Header & Content Wrap 
section#header-nav-wrap
  section#main-site-navigation-wrap
    .site-navigation-inner
      // # Logo 
      header#site-header(role='banner')
        .left
          h1.logo
            a(href='#')
              span Name
          dl.service-times
            dt Sunday Service Times
            dd 8:00 am - Communion Service
            dd 9:30 am / 11:00 am
        .right.aside-menu
          a(href='#') Live Stream /
          a(href='#') Give
          a.js-search-trigger.search.ico(data-icon='t', href='#')
      // # /END of Logo 
      // # JS Search 
      .js-search-wrap.hide-on-tablet
        .js-search.search-and-submit
          .inner-search
            p.meta Search for topics, scriptures, or keywords…
            form.content-row(action='')
              input(placeholder='Search', type='search')
              button.ico-search(type='submit')
      #js-search-overlay
      // # /END of JS Search 
      // # Mobile Nav 
      .js-mobile-menu-wrap
        #js-mobile-menu
          span.menu-prompt menu
          .menu.icon(data-icon='i', href='#')
        nav.mobile-site-nav
          ul#navigation-menu
            li
              a(href='#') About PCPC
            li
              a(href='#') Worship
            li
              a(href='#') Grow
            li
              a(href='#') Serve
            li
              a(href='#') Missions
            li
              a(href='#') Care
            li
              a(href='#') Resources
            li
              a(href='#') News/Events
            li
              .search-and-submit
                input(placeholder='Search', type='search')
                button.btn.icon(data-icon='t', type='submit')
      // # /END of Mobile Nav 
      // # Main Navigation 
      nav#main-navigation(role='navigation')
        ol.navigation-list
          li.nav-item
            a(href='#') About PCPC
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Worship
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
                  h4.title
                    a(href='#') Our Campus
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
                  h4.title
                    a(href='#') Services
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
                .col-six
                  h4.title
                    a(href='#') Our Leadership and Staff
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
                    hr
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Grow
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Serve
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Missions
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Care
            span.mark
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') Resources
            span.mark
            ol
              li.nav-sub-item.latest-sermon-wrap
                header
                  h4.title
                    span Latest Sermon
                  h3 When Have We Loved One Another Enough?
                .media-obj-small
                  .media-image
                    img.profile-img(alt='', src='https://pbs.twimg.com/profile_images/461975102410592256/9s_C1Ohp_normal.jpeg')
                  .media-content
                    a.color-text.normal(href='#')
                      h4 Mark Davis
                      p.date May 18, 2014
                      span.meta
                        span.strong from the series:
                        | On Prayer
                      span.meta.strong 1 Thessalonians 4:9-12
                .buttons-wrap
                  a.btn.media-btn.listen(href='#') Listen Now
                  a.btn.media-btn.download(href='#') Download MP3
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
          li.nav-item
            a(href='#') News/Events
            ol
              li.nav-sub-item
                header
                  h4 Description
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, repellendus, deleniti, fugit, laboriosam minima atque eius voluptatibus tempora accusamus ratione eos non ipsum deserunt optio neque maiores reprehenderit necessitatibus eaque!
              li.nav-sub-item
                .col-six
                  h4.title
                    a(href='#') Who We Are
                  ol
                    li
                      a(href='#') Link Item
                    li
                      a(href='#') Link Item
      // # /END of Main Navigation 
// # Content Wrap 
main.slider-wrap#content-wrap(role='main')
  // # Home Slider 
  .slider-bounds
    .content-row
      .royalSlider.rsDefaultInv#homeSlider
        .rsContent
          a.rsImg(href='http://placehold.it/1450x540')
          span.rsTmb
            img(alt='', src='http://placehold.it/540x350')
          .slideContentWrap.rsABlock
            h2
              | Welcome to Park Cities
              br
              | Presbyterian Church
            hr
            a.btn.btn-secondary(href='#') New Here?
            a.btn.btn-secondary(href='#') Directions & Parking
        .rsContent
          a.rsImg(href='http://placehold.it/1450x540')
          span.rsTmb
            img(alt='', src='http://placehold.it/540x350')
          .rsABlock.rsFirstSlideTitle.rsSlideTitle
            h2 Headers with Transitions
          .rsABlock.rsSecondSlideTitle.rsSlideTitle(data-delay='350')
            h5
              | These are optional headers—a great way to add
              br
              | a bit of complexity to simple images
        .rsContent
          a.rsImg(href='http://placehold.it/1450x540')
          span.rsTmb
            img(alt='', src='http://placehold.it/540x350')
          .rsABlock.rsFirstSlideTitle.rsSlideTitle
            h2 Another, single Header with Transition
        .rsContent
          a.rsImg(href='http://placehold.it/1450x540')
          span.rsTmb
            img(alt='', src='http://placehold.it/540x350')
  // # /END of Home Slider 
  // # Upcoming Sermon 
  .outer-bounds
    .content-row.content-article.padding-b#sermon-info
      hr
      .content-row
        .col-three
          h2.serif UPCOMING SERMON
          p.date Sunday, June 29, 2014
        .col-six
          h4.serif SERIES ON PRAYER
          h5 When Have We Loved One Another Enough?
          h6 1 Thessalonians 4:9-12
        .col-three
          h4.serif PREACHING
          h6 Chad Scruggs
      hr
  // # /END of Upcoming Sermon 
// # /END of Content Wrap 
// # Site Footer 
footer.footer#main-footer(role='contentinfo')
  .outer-bounds
    .footer-links
      ul.border-b
        li
          h3 Quick Links
        li
          a(href='#') Home
        li
          a(href='#') About
        li
          a(href='#') Worship
        li
          a(href='#') Grow
        li
          a(href='#') Serve
        li
          a(href='#') Missions
        li
          a(href='#') Care
        li
          a(href='#') Resources
        li
          a(href='#') News/Events
        li
          a(href='#') Give
      ul
        li
          h3 Location & Contact
        li
          small
            span.address 4124 Oak Lawn Avenue
            br
            span.city Dallas, TX 75219
            br
            a(href='#') Get Directions
            br
            span.phone P: (214) 224-2500
            br
            span.fax F: (214) 224-2782
        li
          h3 Office Hours
        li
          small
            span.hours
              | 8:30 am to 5:00 pm
              br
              | Monday through Friday
      ul
        li
          h3 Sunday Service Times
        li
          small
            span.hours
              | 8:00 am - Communion Service
              br
              | 9:30 am / 11:00 am
              br
            a(href='#') Live Video Stream of the services.
        li
          h3 Elsewhere
        li
          a.ico.facebook(data-icon='x', href='#')
          a.ico.twitter(data-icon='v', href='#')
          a.ico.vimeo(data-icon='u', href='#')
          a.ico.google-plus(data-icon='w', href='#')
          br
          small
            strong More:
          a(href='#') Upstream,
          a(href='#') Issuu,
          a(href='#') PCPC App
      ul
        li
          h3 24/7 Prayer
        li
          small
            | How can our pastors pray for you?
            br
            span.email.strong E: 24/7prayer@pcpc.org
            br
            span.phone P: 214-224-2680
        li
          h3 Recently
        li
          a(href='#') The Word of God in Stained Glass
        li
          a(href='#') Trouble Now – Glory Then
        li
          a(href='#') Seven devotionals for times of suffering
    hr.fullbleed
    .footnotes
      h3 Park Cities Presbyterian Church © 2014
      small
        | A congregation of
        a(href='#') Presbyterian Church in America
      br
      small
        a(href='#') Staff Access
// # /END of Site Footer 
// # Scripts 
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
// / window.jQuery || document.write('<script src="../js/min/jquery.min.js"><\/script>') 
script(src='../js/min/app.min.js')
script(src='../js/min/sitescripts.min.js')
script(src='../js/min/homescripts.min.js')
// # Google Analytics 
script var _gaq = [
            ['_setAccount', 'UA-XXXXX-X'],
            ['_trackPageview']
        ];
        (function (d, t) {
            var g = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g, s)
        }(document, 'script'));
// # /END of Scripts 