// # Upcoming Sermon 
.outer-bounds
  .content-row.content-article.padding-b#sermon-info
    hr
    .content-row
      .col-three
        h2.serif UPCOMING SERMON
        p.date Sunday, June 29, 2014
      .col-six
        h4.serif SERIES ON PRAYER
        h5 When Have We Loved One Another Enough?
        h6 1 Thessalonians 4:9-12
      .col-three
        h4.serif PREACHING
        h6 Chad Scruggs
    hr
// # /END of Upcoming Sermon 