// # Site Footer 
footer.footer#main-footer(role='contentinfo')
  .outer-bounds
    .footer-links
      ul.border-b
        li
          h3 Quick Links
        li
          a(href='link') Home
        li
          a(href='link') About
        li
          a(href='link') Worship
        li
          a(href='link') Grow
        li
          a(href='link') Serve
        li
          a(href='link') Missions
        li
          a(href='link') Care
        li
          a(href='link') Resources
        li
          a(href='link') News/Events
        li
          a(href='link') Give
      ul
        li
          h3 Location & Contact
        li
          small
            span.address 4124 Oak Lawn Avenue
            br
            span.city Dallas, TX 75219
            br
            a(href='link') Get Directions
            br
            span.phone P: (214) 224-2500
            br
            span.fax F: (214) 224-2782
        li
          h3 Office Hours
        li
          small
            span.hours
              | 8:30 am to 5:00 pm
              br
              | Monday through Friday
      ul
        li
          h3 Sunday Service Times
        li
          small
            span.hours
              | 8:00 am - Communion Service
              br
              | 9:30 am / 11:00 am
              br
            a(href='link') Live Video Stream of the services.
        li
          h3 Elsewhere
        li
          a.ico.facebook(data-icon='x', href='link')
          a.ico.twitter(data-icon='v', href='link')
          a.ico.vimeo(data-icon='u', href='link')
          a.ico.google-plus(data-icon='w', href='link')
          br
          small
            strong More:
          a(href='link') Upstream,
          a(href='link') Issuu,
          a(href='link') PCPC App
      ul
        li
          h3 24/7 Prayer
        li
          small
            | How can our pastors pray for you?
            br
            span.email.strong E: 24/7prayer@pcpc.org
            br
            span.phone P: 214-224-2680
        li
          h3 Recently
        li
          a(href='link') The Word of God in Stained Glass
        li
          a(href='link') Trouble Now – Glory Then
        li
          a(href='link') Seven devotionals for times of suffering
    hr.fullbleed
    .footnotes
      h3 Park Cities Presbyterian Church © 2014
      small
        | A congregation of
        a(href='link') Presbyterian Church in America
      br
      small
        a(href='link') Staff Access
// # END of Site Footer 