// # Mobile Nav 
.js-mobile-menu-wrap
  #js-mobile-menu
    span.menu-prompt menu
    .menu.icon(data-icon='i', href='#')
  nav.mobile-site-nav
    ul#navigation-menu
      li
        a(href='#') About PCPC
      li
        a(href='#') Worship
      li
        a(href='#') Grow
      li
        a(href='#') Serve
      li
        a(href='#') Missions
      li
        a(href='#') Care
      li
        a(href='#') Resources
      li
        a(href='#') News/Events
      li
        .search-and-submit
          input(placeholder='Search', type='search')
          button.btn.icon(data-icon='t', type='submit')
// # /END of Mobile Nav 