table.table-borders
  thead
    tr
      th Header Cell 1/th
      th Header Cell 2/th
      th Header Cell 3/th
  tbody
    tr
      td Row 1 Cell 1
      td Row 1 Cell 2
      td
        a.btn.primary(href='#') View File
    tr
      td Row 1 Cell 1
      td Row 1 Cell 2
      td
        a.btn.primary(href='#') View File
    tr
      td Row 1 Cell 1
      td Row 1 Cell 2
      td
        a.btn.primary(href='#') View File
    tr
      td Row 1 Cell 1
      td Row 1 Cell 2
      td
        a.btn.primary(href='#') View File